html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color:  #8d8f92;
	margin: 0;
	padding: 0;
}

*,
*:after, 
*:before {
  box-sizing: border-box;
}

h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

/*container*/

.container {

max-width: 1140px;
height: auto;
margin: 0 auto;
}

/*header*/

header {
	width: 100%;
	height: 82px;
	background-color: #1d2126;
	}

#fix-header {
	position: fixed;
	z-index: 100;
}

.header-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 82px;
	width: 100%;
}

.logo {
	width: 13%;
	}

.logo img {
	height: auto;
	display: block;
}


/* navigation*/

.menu-hidden {
	display: none;
	width: 150px;
	height: auto;
	align-self: flex-start;
	margin-top: 15px;
	}

.menu-block {
	width: 150px;
	height: auto;
}

.hidden-nav-btn {
	display: block;
	text-decoration: none;
	padding: 5px;
	margin-top: 10px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	
}

.hidden-nav-btn:hover {
color: #5b6168;
}

.menu-nav {
	text-align: center;
	padding: 5px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.2s;
	transform-origin: right center;
	transform: scaleX(1) translateX(0%);
	opacity: 1;
	z-index: 20;
	background-color: #1d2126;
}



.menu-nav-active {
	opacity: 0;
	transform: scaleX(0) translateX(20%);
}


.menu-hidden-btn {
display: block;
width: 50px;
height: 50px;
border-radius: 50%;
background: #23b7a4;
right: -80px;
position: relative;
}

span.menu-hidden-btn-lines,
span.menu-hidden-btn-lines::before,
span.menu-hidden-btn-lines::after {
	position: absolute;
	width: 20px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -10px;
	background-color: #fff;
}

span.menu-hidden-btn-lines::before,
span.menu-hidden-btn-lines::after {
	content: '';
	display: block;
	transition: 0.2s;
}

span.menu-hidden-btn-lines::before {
	transform: translateY(-5px);
}

span.menu-hidden-btn-lines::after {
	transform: translateY(5px);
}

.menu-hidden-btn-active span.menu-hidden-btn-lines::before {
	transform: rotate(45deg);
}

.menu-hidden-btn-active span.menu-hidden-btn-lines::after {
	transform: rotate(-45deg);
}

.menu-hidden-btn-active span.menu-hidden-btn-lines {
	height: 0;
}

/* main menu */

nav {
	width: 87%;
	display: flex;
	justify-content: flex-end;
    	}

.nav-btn {
	text-decoration: none;
	color: #5b6168;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 6px 10px;
	border: solid 3px #1d2126;
	border-radius: 6px;
	margin-right: 10px;
}

a.nav-btn:last-of-type {
	margin-right: 0;
}

a.nav-btn:hover {
	border: solid 3px #5b6168;
	border-radius: 6px;
}

.nav-btn-active {
	border: solid 3px #23b7a4;
	border-radius: 6px;
	color: #23b7a4;
	margin-right: 10px;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 6px 10px;
}

.nav-btn-active:last-of-type {
	margin-right: 0;
}


/* intro */

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
	background-position: center center;
	background-size: cover;
	
	height: 100%;
	}

.intro {
	background-color: : #3a454d;
	width: 100%;
	height: 100vh;
	margin-bottom: 10px;
}

.intro-text {
	position: absolute;
	top: 40%;
	z-index: 20;
	width: 50%;
	height: 50%;
	margin-bottom: 10px;
}

.intro-text h1 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 27px;
}

.intro-text p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 40px;

}
.intro-btn-flex {
display: flex;
justify-content: flex-start;
}

.intro a.btn {
	text-decoration: none;
	color: #fff;
	list-style: none;
	border: 3px #fff solid;
	border-radius: 5px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0;
	margin-right: 11px;
}

.intro a.btn:hover {
	background-color: #23b7a4;
	border-color: #23b7a4;

}


/* About */

.about {
	padding-top: 70px;
	padding-bottom: 100px;
	border-bottom: 1px solid #dde1e4;
}

.about h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #292f36;
	padding-left: 13px;
	border-left: #e1e6ea 10px solid;
	margin-bottom: 60px;

}

.about-flex {
	display: flex;
	justify-content: space-between;
}

.about-flex > div {
	width: 55%;
	margin-right: 30px;
}

.about p {
	font-size: 16px
    line-height: 40px;
	color: #8d8f92;
	margin-bottom: 35px;
}

aside {
	width: 40%;
}

.aside-iten img {
	width: 10%;
	height: auto;
	display: block;
}

.aside-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: -5px;
}

.aside-item-text {
	 margin-left: 20px;

}

.aside-item-text h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #292f36;
	margin-bottom: 10px;
}

.aside-item-text p {
 font-size: 16px
    line-height: 40px;
	color: #8d8f92;
}

div.about-social {
	display: flex;
	justify-content: space-between;
	width: 304px;
}
 

 a.about-social {
 	display: block;
	width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-right: 1px;
}

a.about-social-fb {
	background: #c8cdd0 url('images/social-fb.png') no-repeat 50% 50%;
}

a.about-social-tw {
	background: #c8cdd0 url('images/social-tw.png') no-repeat 50% 50%;
}
a.about-social-gl {
	background: #c8cdd0 url('images/social-gl.png') no-repeat 50% 50%;
}
a.about-social-db {
	background: #c8cdd0 url('images/social-db.png') no-repeat 50% 50%;
}
a.about-social-be {
	background: #c8cdd0 url('images/social-be.png') no-repeat 50% 50%;
}

a.about-social:hover {
	background-color: #d0d5d9;
}

/* team */

.team {
	padding-top: 80px;    
	padding-bottom: 100px;
}

.team h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #292f36;
	padding-left: 13px;
	border-left: #e1e6ea 10px solid;
	margin-bottom: 60px;
}



.team-flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.team-item {
   width: 23%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
 }



.team-item .team-item-social {
	width: 58%;
	height: auto;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 40%;
    left: 20%;
    opacity: 0;
    z-index: 10;
 }

.team-item:hover .team-item-social{
	opacity: 1;
}

.team-item .team-item-social .team-item-icon {
	width: 50px;
	height: 50px;
	background-color: #3a454d;
}

.team-item-icon.tw {
	background: #3a454d url(images/social-tw.png) no-repeat;
	background-position: 50% 50%;
}

.team-item-icon.fb {
	background: #3a454d url(images/social-fb.png) no-repeat;
	background-position: 50% 50%;
}

.team-item-icon.in {
	background: #3a454d url(images/social-in.png) no-repeat;
	background-position: 50% 50%;
}

.team-item img {
	width: 100%;
	height: auto;
	display: block;
	}


.team-item-text {
	padding-left: 20px;
	height: 75px;
	background-color: #e1e6ea;
	padding-top: 15px;
}

.team-item-text h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #292f36;
	margin-bottom: 3px;
}

.team-item-text p {
	font-size: 14px;
	color: #8d8f92;

}

.team-item:hover  .team-item-text {
	background-color: #3a454d;
	}

.team-item:hover  .team-item-text h3,
.team-item:hover  .team-item-text p {
	color: #fff;
}

.team-item:hover img {
	opacity: 0.4;
}


/* work */

.work {
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: #3a454d;
	width: 100%;
}

.work h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 13px;
	border-left: #4e5a62 10px solid;
	margin-bottom: 60px;
}

.work-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between; 
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.work-item {
width: 32%;
margin-bottom: 30px;
height: auto;
position: relative;
}

.work-item img {
	width: 100%;
	height: auto;
	display: block;
}

.work-overlay {
	position: absolute;
	bottom: -5px;
	background-color: #292f36;
	width: 100%;
	height: 60px;
	padding-top: 23px;
	padding-left: 20px;
	opacity: 0;
}

.work-overlay p {
	color: #fff;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.work-item a.hover {
	opacity: 0;
	width: 25px;
	height: 25px;
  background: url(images/plus.png) no-repeat;
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 47%;
}

.work-item:hover a.hover,
.work-item:hover .work-overlay {
 opacity: 1;
}

.work-item:hover img {
opacity: 0.4;
}


.work a.btn {
	text-decoration: none;
	background-color: #3a454d;
	border: 2px #fff solid;
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	display: block;
	width: 170px;
	margin: 0 auto;
}

.work a.btn:hover {
	background-color: #23b7a4;
	border-color: #23b7a4;

}


/* service */

.service {
	padding-top: 80px;
	padding-bottom: 140px;
    }

.service h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #292f36;
	padding-left: 13px;
	border-left: #e1e6ea 10px solid;
	margin-bottom: 60px;
}

.service-flex {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between; 
}

.service-item {
	width: 23%;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-bottom: 60px;
}

.service-item-img {
	width: 100%;
	height: 30%;
}

.service-item img {
	width: 19%;
	margin: 0 auto;
	height: auto;
	display: block;
}



.service-item h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	color: #292f36;
	margin-top: 25px;
	margin-bottom: 20px;
}

.service-item p {
	font-size: 16px;
	color: #8d8f92;
}

/* features */

.feature {
	padding-top: 80px;
	padding-bottom: 120px;
	background-color: #3a454d;
}

.feature h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 13px;
	border-left: #4e5a62 10px solid;
	margin-bottom: 60px;
}

.feature-flex {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.feature-item {
	width: 32%;
	height: auto;
}

.feature-item img {
	width: 100%;
	height: auto;
	display: block;
	
}

.feature-item h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	margin-top: 50px;
	margin-bottom: 20px;
}

.feature-item p {
	color: #dcdfe1;
	font-weight: 100;

}


/* contact */

.contact {
	padding-top: 80px;
	padding-bottom: 100px;
	position: relative;
}

.contact h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #292f36;
	padding-left: 13px;
	border-left: #e1e6ea 10px solid;
	margin-bottom: 60px;
}

.map-responsive {
	width: 100%;
	height: 345px;
	     
}

.map-responsive iframe{
   
    height:100%;
    width:100%;
   
}


.info {
	width: 47%;
	height: auto;
}

.info h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #292f36;
	padding-left: 10px;
	margin-top: 55px;
	margin-bottom: 30px;
}

.info p {
color: #8d8f92;
}

.info p:first-of-type {
	margin-bottom: 35px;
}




/* form */

aside.form {
	position: absolute;
	bottom: 90px;
	right: 70px;
	background-color: #fff;
	width: 40%;
	height: auto;

}

form {
	width: 100%;
	height: auto;
	padding: 20px 30px 0 30px;

}

.field-flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

form label {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #8d8f92;
	display: block;
	width: 49%;
}

input[type="text"] {
	width: 100%;
	height: 50%;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 0 10px;
	font-size: 14px;
	background-color: #eaeef1;
	border: none;
	}

form label.message {
	width: 100%;
}


textarea {
	border-radius: 5px;
	margin-top: 10px;
	background-color: #eaeef1;
	border: none;
	width: 100%;
	padding: 10px 10px;
	font-size: 14px;
}

button[type="submit"] {
	width: 150px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background-color: #23b7a4;

	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;

	margin-top: 30px;
	cursor: pointer;
}

button[type="submit"]:hover {
background-color: #1d2126;
}



/* footer */

footer {
	width: 100%;
	height: 95px;
	background-color: #3a454d;
}

.footer-flex {
	width: 100%;
	height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright p {
color: #fff;
font-family: 'Quattrocento Sans', sans-serif;
font-size: 14px;
}

.footer-social {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 50%;
	align-items: center;
}

.footer-social ul {
	width: 170px;
	background: url(images/footer-social.png) no-repeat;
	list-style: none;
	}

.footer-social ul li {
	list-style: none;
	display: inline-block;
	width: 22px;
	height: 20px;
	margin-right: 5px;
}

.footer-social ul li.sk {
	margin-right: 10px;
}

.footer-social ul li.be{
 	width: 27px;
 	
 }

.footer-social ul li.in {
width: 27px;
}

.footer-social ul li a {
	
	display: block;
	width: 100%;
	height: 100%;

}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 100px;
	padding-right: 0;
	text-align: center;
    }
    .swiper-pagination {
    	text-align: center;
    }
}



@media screen and (max-width: 991px) {
    body {
	   font-size: 14px;
    } 
    .container {
       width: 750px;
    }
    h2 {
	   font-size: 30px;
    } 
    .service-item {
	   margin-top: 20px;
	   width: 45%;
    }
}



@media screen and (max-width: 767px) {
      body {
	    font-size: 14px;
     } 
    .container {
       width: 450px;
     }
     nav.main-nav {
	   display: none;
     }
     .menu-hidden {
     	display: block;
}

.nav-btn-active{
	display: block;
	text-decoration: none;
	padding: 5px;
	margin-top: 10px;
	color: #23b7a4;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	margin-right: 0;

}

.nav-btn {
	display: block;
	text-decoration: none;
	padding: 5px;
	margin-top: 10px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	margin-right: 0;
}

a.nav-btn:hover {
	border: none;
	color: #5b6168;
}
     .intro-text {
	    top: 30%;
	    left: 25%;
	    margin: 0 auto;
		text-align: center;
     }
     h1 {
     	font-size: 1.5em !important;
     }
     .intro-btn-flex {
     	justify-content: center;
     	height: 25%;
     	width: 80%;
     	margin: 0 auto;
     	margin-top: 10px;
     }
     .intro-btn-flex a {
     	height: 50px;
     }
     h1,
     .intro-text p{
	    text-align: center;
     }
     .about-flex {
	    flex-wrap: wrap;
     }
     .about-flex > div {
	    width: 100%;
	    margin-bottom: 50px;
     }
     .about-flex aside {
	   width: 100%;
     }
     .team-flex {
	   flex-wrap: wrap;
     }
     .team-item {
	   width: 45%;
	   margin-bottom: 20px;
     }
     .work-flex {
	   flex-wrap: wrap;
     }
     .work-item {
	   width: 45%;
	   margin-bottom: 20px;
     }
     .feature-flex {
	   flex-wrap: wrap;
     }
     .feature-item {
     width: 100%;
     margin-bottom: 50px;
     }
     .feature-item h3,
     .feature-item  p {
     	text-align: center;
     }
     .contact .info {
	   width: 100%;
	   margin-bottom: 50px;
     }
    .contact aside {
	  position: static;
	  width: 100%;
     }
     form {
	  padding: 0;
     }
     .field-flex {
     	flex-direction: column;
     	justify-content: center;
     }
     form label{
     	width: 100%;
     }
     input[type="text"] {
     	height: 40px;
     }
}

@media screen and (max-width: 690px) {
	
	.intro a.btn {
    	font-size: 12px;
    }
}



@media screen and (max-width: 479px) {
     .container {
       width: 310px;
     }

     .intro {
     	height: 75vh;
     }
     .intro-text p {     
    	font-size: 12px;
    	margin-bottom: 10px;
    }

     h2 {
     	font-size: 20px !important;
     }
           .intro-text {
     	top: 20%;
     }
     
     .intro-btn-flex {
     	flex-direction: column;
     	justify-content: space-between;
     	
     }
     .intro-btn-flex a {
     	margin-bottom: 10px !important;
     	margin-right: 0 !important;
     }
     .team-item {
     	width: 100%;
     }
     .work-item {
     	width: 100%;
     }
     .service-item {
     	width: 100%;
     }
     .footer-flex {

     	flex-wrap: wrap;
     }
     footer .copyright {
     	width: 100%;
     	text-align: center;
     }
     .footer-social {
     	width: 100%;
     	justify-content: center;
     }
}

@media screen and (max-width: 320px) {
	.intro-text {
     	top: 15%;
     }

     
}